<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.duopei.springmvc.web.admin.mapper.UserMapper" >

  <select id="selectUserByLogin" resultType="com.duopei.springmvc.model.user.User" parameterType="com.duopei.springmvc.model.user.User" >
    SELECT usr.USER_ID              AS userId,
           usr.USER_CODE            AS userCode,
           usr.USER_TEL             AS userTel,
           usr.USER_EMAIL           AS userEmail,
           usr.USER_PWD             AS userPwd,
           usr.USER_NAME            AS userName,
           usr.USER_STATUS          AS userStatus,
           usr.COMMONS              AS commons,
           usr.LAST_LOGIN_TIME      AS lastLoginTime,
           usr.LAST_UPDATE_PWD_DATE AS lastUpdatePwdDate,
           usr.INSERT_ID            AS insertId,
           usr.INSERT_DATE          AS insertDate,
           usr.MODIFY_ID            AS modifyId,
           usr.MODIFY_DATE          AS modifyDate,
           usr.LAST_VERSION         AS lastVersion
    FROM   tusers usr
    WHERE  1 = 1
      <if test="userCode != null">
          AND usr.USER_CODE = #{userCode,jdbcType=VARCHAR}
      </if>
      <if test="userTel != null">
          AND usr.USER_TEL = #{userTel,jdbcType=VARCHAR}
      </if>
      <if test="userEmail != null">
          AND usr.USER_EMAIL = #{userEmail,jdbcType=VARCHAR}
      </if>
  </select>

</mapper>