<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" th:src="@{/static/lib/html5.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/respond.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/PIE_IE678.js}"></script>
<![endif]-->
<link th:href="@{/static/css/H-ui.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/static/css/H-ui.admin.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/static/lib/Hui-iconfont/1.0.7/iconfont.css}" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" th:src="@{/static/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>管理员列表</title>
</head>
<body>
<!-- 导航条和功能区域 -->
<div id="breadcrumbArea">
	<nav class="breadcrumb">

		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表

		<a class="r mr-10" style="margin-center:0px" >
			<b>+</b>
		</a>

		<a class="btn btn-success radius r mr-10" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>

</div>
<!-- 查询条件区域 -->
<div id="conditionArea" class="panel-body" style="display:none">
	<table class="table table-border">
		<tr>
			<th>分类:</th>
			<th>
				<select name="" class="select">
					<option value="0">全部分类</option>
					<option value="1">分类一</option>
					<option value="2">分类二</option>
				</select>
			</th>
			<th>日期</th>
			<th>
				<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate size-S danger" style="width:120px;">
				-
				<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate size-S danger" style="width:120px;">
			</th>
			<th>咨询名称：</th>
			<th>
				<input type="text" name="" id="" placeholder=" 资讯名称" style="width:250px" class="input-text size-S">
			</th>
		</tr>
	</table>
</div>

<!-- 查询结果及功能区域 -->
<div class="panel panel-default" style="border:none">
	<div class="panel-header">
		<span><i class="Hui-iconfont">&#xe6bf;</i>功能区</span>
		<a href="javascript:;" id="queryData" onclick="query();" class="btn btn-default radius"><i class="Hui-iconfont">&#xe665;</i> 查询</a>
		<a href="javascript:;" id="del" onclick="del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		<a href="javascript:;" id="add" onclick="example_add('新增用例','/example/add','800','500')" class="btn btn-primary radius"> <i class="Hui-iconfont">&#xe600;</i> 新增</a>
	</div>
<div class="panel-body pd" id="resultArea" >
	<table id="table_id" class="table table-border table-bordered table-bg size-S">
		<thead>
		<tr>
			<th></th>
			<th>CHK</th>
			<th>expId</th>
			<th>expName</th>
			<th>expSex</th>
			<th>expDate</th>
			<th>expYn</th>
			<th>insertId</th>
			<th>insertDate</th>
			<th>modifyId</th>
			<th>modifyDate</th>
			<th>lastVersion</th>
			<th>操作</th>
		</tr>
		</thead>
	</table>
</div>
<br/>
<div class="panel-body pd" id="resultServerArea" >
	<table id="table_id_s" class="table table-border table-bordered table-bg size-S">
		<thead>
		<tr>
			<th></th>
			<th>expId</th>
			<th>expName</th>
			<th>expSex</th>
			<th>expDate</th>
			<th>expYn</th>
			<th>insertId</th>
			<th>insertDate</th>
			<th>modifyId</th>
			<th>modifyDate</th>
			<th>lastVersion</th>
		</tr>
		</thead>
	</table>
</div>
</div>

<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">对话框标题</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body">
				<p>对话框内容…</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/static/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/layer/2.1/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/static/js/handlebars/handlebars-v4.0.5.js}"></script>

<!-- handlebars 定义操作列按钮模板-->
<script id="tpl" type="text/x-handlebars-template">
	{{#each func}}
	<button type="button" class="btn btn-{{this.type}} radius size-S" onclick="{{this.fn}}">{{this.name}}</button>
	{{/each}}
</script>

<script type="text/javascript">
/*隐藏显示查询区域*/
jQuery.foldConditionArea = function(obj,obj_c,speed,obj_type,Event){
	$(obj).bind(Event,function(){
		if($(this).next().is(":visible")){
			$(this).next().slideUp(speed).end().removeClass("selected");
			$(this).find("b").html("+");
		}
		else{
			$(obj_c).slideUp(speed);
			$(obj).removeClass("selected");
			$(obj).find("b").html("+");
			$(this).next().slideDown(speed).end().addClass("selected");
			$(this).find("b").html("-");
		}
	});
};

$(function(){
	$.foldConditionArea("#breadcrumbArea","#conditionArea","fast",1,"click"); /*5个参数顺序不可打乱，分别是：相应区,隐藏显示的内容,速度,类型,事件*/
});

var ctable ;
var stable ;
$(function(){
	/*client方式*/
	//预编译模板
	var tpl = $("#tpl").html();
	var template = Handlebars.compile(tpl);
	ctable = $('#table_id').DataTable({
		processing :true,
		ajax: '/example/query',
		columnDefs: [
			{	/*禁止第一行进行排序和搜索*/
				"searchable": false,
				"orderable": false,
				"targets": 0
			},
			{	/*添加check选项框*/
				"targets":1,
				"searchable": false,
				"orderable": false,
				'className': 'dt-body-center',
				'render':function(data,type,row,meta){
					return '<input align="center" type="checkbox" name="'+row.expId+'" value="' + row.expId + '"> ';
				}
			},
			{	/* 添加操作列 */
				"targets":-1,
				"searchable": false,
				"orderable": false,
				'className': 'dt-body-center',
				'render':function(data,type,row,meta){
					var context = {
						func:[
							{"name": "修改", "fn": "edit(\'" + data.expId + "\')", "type": "primary"},
							{"name": "删除", "fn": "del(\'" + data.expId + "\')", "type": "danger"}
						]
					};
					return template(context);
				}
			}
		],
		columns:[
			{"data":null},
			{"data":null},
			{"data":"expId"},
			{"data":"expName"},
			{"data":"expSex"},
			{"data":"expDate"},
			{"data":"expYn"},
			{"data":"insertId"},
			{"data":"insertDate"},
			{"data":"modifyId"},
			{"data":"modifyDate"},
			{"data":"lastVersion"},
			{"data":null},
		]
	});
	/*当排序和搜索后，重新生成行号*/
	ctable.on('order.dt search.dt',function(){
		ctable.column(0,{
			search:'applied',
			order:'applied',
		}).nodes().each(function(cell,i){
			cell.innerHTML = i+1;
		});
	}).draw();

	/*Server方式*/
	stable = $('#table_id_s').DataTable({
		processing :true,
		serverSide:true,
		columns:[
			{"data":null},
			{"data":"expId"},
			{"data":"expName"},
			{"data":"expSex"},
			{"data":"expDate"},
			{"data":"expYn"},
			{"data":"insertId"},
			{"data":"insertDate"},
			{"data":"modifyId"},
			{"data":"modifyDate"},
			{"data":"lastVersion"},
		],
		 ajax:{
			 url:"/example/queryS",
			 dataSrc:"data",
			 dataType:"json",
			 contentType:"application/json",
			 type: 'POST',
			 data: function ( d ) {
				 //添加额外的参数传给服务器
				 d.expId = 1;
				 d.expName="aaa";
				 return JSON.stringify( d );
			 }
		 },
	});
	/* 服务器模式 添加行号 */
	stable.on('draw.dt',function(){
		stable.column(0,{
			search:'applied',
			order:'applied'
		}).nodes().each(function(cell,i){
			i = i+1;
			// 服务器模式下 获取分页信息
			var page = stable.page.info();
			// 当前第几页 从0 开始
			var pageno = page.page;
			// 每页数据
			var length = page.length;
			// 行号= 页数*每页数据 + 行号
			var columnIndex = (i+pageno *length);
			cell.innerHTML = columnIndex;
		});
	});

});

function query(){
	ctable.ajax.reload();
	stable.ajax.reload();
}

/*编辑*/
function edit(expId){
	$("#modal-demo").modal("show");
}

/*删除*/
function del(expId){
	if(confirm("单据号["+expId+"]删除后无法恢复，请确认?")) {
		$.ajax({
			url: "/example/del",
			type:"POST",
			data: {
				"expId": expId
			},
			dataType:"json",
			success: function (response) {
				debugger;
				if(response.rspCode == '000000'){
					ctable.ajax.reload();
					console.log("删除成功" + data);
				}else{
					console.log(response);
					alert("删除失败"+response.rspMsg);
				}

			}
		});
	}
}

/*用户-添加*/
function example_add(title,url,w,h){
	layer_show(title,url,w,h);
}

</script>
</body>
</html>